# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/

# PyInstaller
*.manifest
*.spec

# VS Code
.vscode/

# Large Files & Datasets (Explicit Exclusions)
*.csv
*.pkl
!model/sleep_disorder_rf_tuned_no_subject.pkl

# Logs
*.log
