@import "tailwindcss";

/* Custom base styles */
body {
  background-color: #111827;
  /* gray-900 */
  color: #ffffff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1f2937;
  /* gray-800 */
}

::-webkit-scrollbar-thumb {
  background-color: #374151;
  /* gray-700 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
  /* gray-600 */
}